# Python
__pycache__/
**/__pycache__/
*.py[cod]
*.egg-info/

# Virtual Environment
.venv/
venv/
env/

# VS Code
.vscode/

# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Local datasets
data/*.csv
data/*.xlsx

# Include the Titanic assessment dataset
!data/titanic.csv

# Models and generated metrics
models/*.pkl
# models/*.joblib
models/*.json
